body{
    --bg-common: rgb(74, 168, 250);
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(14, 14, 14);
    min-height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    width: 100%;
    background-color: var(--bg-common);
    margin: 0;
    padding: 0px;
    box-shadow: 0px 0px 3px 0px gray;
    text-align: center;
    color: whitesmoke;
}
h1{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}
button{
    display: block;
    margin: auto;
    font-size: 20px;
    border: none;
    background-color: var(--bg-common);
    color: white;
}
#add-book{
    margin-top: 50px;
    padding: 10px 20px;
}
#add-book:hover{
    background-color: rgb(42, 187, 255);
}
form{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 300px;
    text-align: center;
    background-color: var(--bg-common);
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    position: absolute;
    z-index: 9999;
    transition: 0.2s ease-in-out;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    left: 50%;

}
form.visible{ 
    transform: translate(-50%, -50%) scale(1);
}
#gray-background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128);
    opacity: 0.8;
    display: none;
}
#gray-background.visible{
    display: block;
}

input{
    padding: 10px;
    border-radius: 10px;
}
input[type=number], input[type=text]{
    background-color: rgb(14, 14, 14);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    
    border: none;
    margin: 10px;
}
#btn{
    background-color: rgb(184, 243, 22);
    border: 3px solid black;
    cursor: pointer;
    width: fit-content;
    color: black;
    font-size: 25px;
    border-radius: 10px;
    margin: auto;
}
#btn:hover{
    background-color: greenyellow;
}
.flex-row{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 10px;
}
#cards{
    --auto-grid-min-size: 16rem;
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    justify-items: center;
    margin-top: 20px;
}
.card{
    background-color: var(--bg-common);
    padding: 20px;
    border-radius: 20px 0px;
    color: white;
    word-wrap: break-word;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-container button{
    padding: 10px;
    width: 200px;
}
.delete{
    background-color: rgb(220, 20, 37);
    width: 150px;
    margin-top: 10px;
}
.delete:hover{
    background-color: rgb(230, 59, 73);
}
.incomplete{
    background-color: rgb(125, 93, 242);
    width: 150px;
    margin-top: 10px;
}
.incomplete:hover{
    background-color: rgb(141, 109, 253);
}
.complete{
    background-color: rgb(74, 213, 40);
    width: 150px;
    margin-top: 10px;
}
.complete:hover{
    background-color: rgb(89, 224, 55);
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}
a{
    text-decoration: none;
    color: aquamarine;
}
a:hover{
    color: rgb(18, 238, 168);
}